.react-autosuggest{
  font-family: 'Segoe UI', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #404040;
  line-height: 20px;
  position: relative;
}

.react-autosuggest__container {
  font: inherit;
  position: relative;
  margin-top: 0px;
  margin-bottom: 50px;
}

.react-autosuggest__input {
  font: inherit;
  width: 280px;
  height: 40px;
  padding: 5px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #aaa;
}

.react-autosuggest__input--validation-error{
  outline: 1px solid #ff3850;
}

.react-autosuggest__input--focused {
  outline: 2px solid #81b3d2;
}

.react-autosuggest__input:focus::-webkit-input-placeholder{
  opacity: 0.6;
}

.react-autosuggest__input:focus:-ms-input-placeholder{
  opacity: 0.6;
}

.react-autosuggest__input:focus::-ms-input-placeholder{
  opacity: 0.6;
}

.react-autosuggest__input:focus::placeholder{
  opacity: 0.6;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 40px;
  width: 320px;
  border: 1px solid #aaa;
  background-color: #fff;
  font: inherit;
  -webkit-box-shadow: 0px 2px 8px 0px rgba(122,121,122);
          box-shadow: 0px 2px 8px 0px rgba(122,121,122);
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #81b3d2;
}

.react-autosuggest__advice{
  font: inherit;
  color: #aaa;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px 10px;
}

.react-autosuggest__advice--small{
  font: inherit;
}

.react-autosuggest__advice--loader{
  font: inherit;
  padding-left: 35px;
  position: relative;
}

.react-autosuggest__advice--loader::before{
  border-top: 1px solid #aaa;;
  border-radius: 50%;
  position: absolute;
  top:8px;
  left: 15px;
  content: '';
  width: 15px;
  height: 15px;
  -webkit-animation: spin 0.8s linear infinite;
          animation: spin 0.8s linear infinite;
  z-index: 2;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@keyframes spin {
    0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

.react-autosuggest__advice--server-error{
  padding-bottom: 0px;
}

.react-autosuggest__advice__refresh-button{
    font: inherit;
    background: none;
    border: none;
    width: 320px;
    height: 35px;
    text-align: left;
    margin-left: -10px;
    padding-left: 10px;
    margin-bottom: 0px;
}

.react-autosuggest__advice__refresh-button:hover{
  background-color: #81b3d2;
  cursor: pointer;
  color: #ffffff;
}

.react-autosuggest__advice__validation{
  font: inherit;
  width: 300px;
  color: #ff3850;
  position: absolute;
  top: 45px;
  left: 5px;
}
